@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 680px)
	/**/
	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px)
	/**/
	.visitors__item
		height: 48vw
	.visitors__photo
		height: 35vw
		filter: blur(1.7vw)
	.visitor__name
		height: calc( 100% - 36vw)
		padding-left: 3vw 
		padding-right: 3vw
		font-size: 4vw
	.visitors__list
		margin-bottom: 30px
		padding-top: 20px

	
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 530px)
	/**/
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	
	
	/* .banner--photos
		top: 110.7vw */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 450px)
	/**/
	/* .banner--photos
		top: 111vw	 */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 425px)
	/**/
	/* .banner--photos
		top: 111.3vw	 */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 400px)
	/**/
	/* .banner--photos
		top: 112vw	 */
@media only screen and (max-width : 375px)
	/**/
	/* .banner--photos
		top: 112.5vw	 */
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





