@import "vars"
@import "fonts"

//start global style
*
    box-sizing: border-box
body 
    margin: 0
    padding: 0
    font-family: 'DM Sans', sans-serif
    font-size: 16px
    font-weight: 400
    color: #323235
.content
    width: 680px
    max-width: 100%
    margin-left: auto 
    margin-right: auto
    position: relative
    min-height: 100vh
    padding-bottom: 150px
.container 
    padding-left: 24px 
    padding-right: 24px 
    width: 100%
    box-sizing: border-box
.title 
    font-size: 20px 
    margin-bottom: 10px 
    margin-top: 30px
    font-weight: 700
    color: #017df8 
//end global style



//start footer style
.footer 
    padding-top: 69px 
    padding-bottom: 25px 
    background: linear-gradient(180deg, #8A14F5 23.57%, #017DF8 186.94%)
    position: relative
    display: flex 
    justify-content: center
    position: absolute 
    bottom: 0
    width: 100%
.footer:before 
    content: ''
    width: 100% 
    height: 48px
    position: absolute 
    top: 0
    left: 0
    background: #fff
    border-radius: 0px 0px 24px 24px
.flirtu-logo
    background: rgba(255, 255, 255, 0.76)
    border-radius: 16px
    width: 63px 
    height: 63px
    display: flex 
    justify-content: center
    align-items: center
    img 
        width: 39px
//end footer style 


.button 
    background: #F2F2F2
    border-radius: 8px
    width: 48%
    height: 56px
    display: flex 
    justify-content: center 
    align-items: center
    text-decoration: none
    color: #323235
    font-weight: 700 
    font-size: 18px
    width: 100%
.button--blue 
    background: #017DF8
    color: #fff
.visitors__item
    border: 1px solid #d8d8d8
    width: 48%
    border-radius: 10px
    height: 300px
    margin-bottom: 4%
    overflow: hidden
.visitors__list
    display: flex 
    justify-content: space-between 
    flex-wrap: wrap
.visitors__photo
    width: 100%  
    height: 250px 
    object-fit: cover 
    object-position: center 
    filter: blur(7px)
.visitor__name
    height: calc( 100% - 257px )
    display: flex 
    align-items: center
    padding: 0 20px
    font-size: 18px
    font-weight: 700
    color: #6f6f6f
    span 
        padding: 0 5px
p 
    color: #6f6f6f
.visitors-wrapper
    padding-bottom: 50px

//start premium page style
.premium-page 
    height: 100%
    background: linear-gradient(180deg, #017DF8 0%, #8A14F5 100%)
    width: 680px
    max-width: 100%
    margin-left: auto 
    margin-right: auto
    position: relative
    min-height: 100vh
    padding-bottom: 150px
    color: #fff
.premium__header
    text-align: center
    padding-top: 24px 
    padding-bottom: 24px
    font-size: 20px 
    font-weight: 500
    .container 
        position: relative
        img 
            position: absolute 
            top: 50% 
            left: 24px
            transform: translateY(-50%)
.options-slider-wrapper
    padding-top: 10px
.option-icon
    width: 60px 
    height: 60px 
    border: 2px solid #fff 
    border-radius: 50%
    display: flex 
    justify-content: center 
    align-items: center
    background: linear-gradient(210deg, #017DF8 0%, #8A14F5 100%)
    margin-bottom: 11px
.slick-dots
    margin: 0
    padding: 0
    display: flex 
    justify-content: center
    align-items: center
    list-style: none
    font-size: 0
    margin-top: 28px
    button 
        font-size: 0
        border: none 
        background: transparent
        width: 10px 
        height: 10px 
        border: 1px solid #fff 
        border-radius: 50%
        padding: 0
        margin: 0 3px
        cursor: pointer
    .slick-active button
        background: linear-gradient(180deg, #DFBC77 0%, #FFF 100%)
        border: none
.option-title
    font-size: 24px 
    font-weight: 600
    margin-bottom: 0px
.option__text
    font-size: 16px
    color: #fff
    margin-top: 5px
.plans-slider-wrapper
    padding-top: 30px

.plan-item   
    width: 175px  
    height: 250px
    border-radius: 10px
    background: rgba(1, 125, 248, 0.60)
    padding: 20px 5px
    cursor: pointer
.plans-slider
    display: flex
    overflow-x: auto
    .slick-list 
        padding-top: 20px
.pans-slider__item
    margin: 0 10px
    text-align: center
    
.plan-item__num
    font-size: 45px
    margin-bottom: 0px
.plan-item__title
    font-size: 30px
    margin-bottom: 5px
.prev-price
    min-height: 25px
.price
    font-size: 35px
.price-per-month
    opacity: 0.5
.prev-price
    opacity: 0.5
    text-decoration: line-through
.plan-item.active 
    border: 2px solid #DFBC77
.plan-item
    position: relative
.plan-item__label
    position: absolute 
    top: 0 
    left: 50% 
    transform: translateX(-50%) translateY(-50%)
    background: linear-gradient(180deg, #FBE8BE 0%, #DFBC77 100%)
    border-radius: 2px
    z-index: 99
    padding: 2px 10px
    color: #000 
    font-size: 12px
    font-weight: 500
    white-space: nowrap
.note
    text-align: center
    font-size: 14px
    margin-top: 30px
    max-width: 100% 
    margin-left: auto 
    margin-right: auto
.button--gold
    border-radius: 50px
    background: linear-gradient(180deg, #FBE8BE 0%, #DFBC77 75.31%)
    margin-top: 50px
    position: fixed 
    bottom: 20px 
    left: 50% 
    transform: translateX(-50%)
    width: 640px



//end premium page style

@import "media"




